<div class="card-last-option">
  <div class="flex-fill icon-nearby-card">
    <div class="flex-icon">
      <i class="far fa-heart"></i>
    </div>
    <div class="flex-text">
      <p class="icon-naerby-text">521</p>
    </div>
  </div>
  <div class="flex-fill icon-nearby-card">
    <div class="flex-icon">
      <i class="far fa-comment"></i>
    </div>
    <div class="flex-text">
      <p class="icon-naerby-text">52</p>
    </div>
  </div>
  <div class="flex-fill icon-nearby-card">
    <div class="flex-icon">
      <i class="fas fa-share-alt share-icon"></i>
    </div>
    <!-- <div class="flex-text">
      <p class="icon-naerby-text">52</p>
    </div> -->
  </div>
</div>
