<%- include("partials/header"); -%>

<section id="event-view">
  <div class="event-view-bg-container">
    <div class="event-view" style="background-image: url('../images/event1.jpg');">
    </div>
  </div>

  <div id="event-view-div" class="event-view-content-main">
    <div class="event-view-content ">
      <div class="row event-view-content-row1">
        <div class="col-lg-8 col-md-8">
          <img src="images/sailing.jpg" class="event-view-img" alt="">
        </div>
        <div class="col-lg-4 col-md-4 event-view-right-content">
          <div class="d-flex event-view-reaction">
            <div class="mr-auto p-2">
              <p><i class="far fa-calendar-alt"></i> JUL 15</p>
            </div>
            <div class="p-2"><i class="far fa-heart"></i></div>
            <div class="p-2"><i class="far fa-share-square"></i></div>
          </div>

          <h3>Automatic writing, communication with the spirit world</h3>

          <div class="d-flex flex-row">
            <div class="p-2"><img src="images/img-jj.jpg" alt="" class="event-view-host-img"></div>
            <div class="p-2">
              <h6>Hosted by</h6>
              <h5>Jaisee</h5>
            </div>
          </div>
          <button type="button" class="btn btn-danger btn-block event-view-join-btn" name="button">Attend</button>
        </div>
      </div>
      <div class="row event-view-content-row2">
        <div class="col-lg-8 col-md-8 event-view-text-left">
          <h4>About This Event</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque aliquam vestibulum morbi blandit cursus risus at. Tellus pellentesque eu tincidunt tortor. Bibendum at
            varius vel pharetra. Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Commodo odio aenean sed adipiscing diam donec adipiscing. Nisl suscipit adipiscing bibendum est ultricies. Sed enim ut sem viverra aliquet eget
            sit amet tellus. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Donec adipiscing tristique risus nec feugiat. Morbi enim nunc faucibus a
            pellentesque sit amet. Vestibulum rhoncus est pellentesque elit ullamcorper. Sit amet mauris commodo quis imperdiet massa. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Egestas purus viverra accumsan in.
            Nulla at volutpat diam ut venenatis tellus. Amet est placerat in egestas. Neque sodales ut etiam sit amet. Egestas erat imperdiet sed euismod. Lobortis scelerisque fermentum dui faucibus. Gravida rutrum quisque non tellus orci ac auctor
            augue mauris. Ac tincidunt vitae semper quis lectus nulla at. Etiam tempor orci eu lobortis elementum nibh tellus. Dignissim sodales ut eu sem integer vitae justo eget magna. Faucibus scelerisque eleifend donec pretium vulputate sapien
            nec sagittis. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Consequat mauris nunc congue nisi vitae suscipit tellus. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Ut
            venenatis tellus in metus vulputate eu scelerisque felis imperdiet.
          </p>
          <div class="d-flex flex-row event-view-attendees">
            <div class="mr-auto p-2"><h4>Attendees (10)</h4></div>
            <div class="p-2"><a href="#">See all</a></div>
          </div>
          <div class="row ">
            <div class="col-lg-3 col-md-4 col-sm-6 event-view-attendees-grid">
              <div class="event-view-attendees-div">
                <img src="images/img-jj.jpg" alt="" class="event-view-attendees-img">
                <h5>placerat duis ultricies</h5>
                <h6>Member</h6>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 event-view-attendees-grid">
              <div class="event-view-attendees-div">
                <img src="images/img-jj.jpg" alt="" class="event-view-attendees-img">
                <h5>placerat duis ultricies</h5>
                <h6>Member</h6>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 event-view-attendees-grid">
              <div class="event-view-attendees-div">
                <img src="images/img-jj.jpg" alt="" class="event-view-attendees-img">
                <h5>placerat duis ultricies</h5>
                <h6>Member</h6>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 event-view-attendees-grid">
              <div class="event-view-attendees-div">
                <img src="images/img-jj.jpg" alt="" class="event-view-attendees-img">
                <h5>placerat duis ultricies</h5>
                <h6>Member</h6>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row event-view-attendees">
            <div class="mr-auto p-2"><h4>Comments</h4></div>
            <div class="p-2"><a href="#">See all</a></div>
          </div>
          <div class="event-view-comment-div">
            <div class="d-flex flex-row event-view-single-comment">
              <div class="p-2"><img src="images/img-jj.jpg" alt="" class="event-view-host-img"></div>
              <div class="p-2 event-view-comment"><h5 class="event-view-comment-user">Jaisee</h5> <p>3 Days to go ! We have a challenge for you in the tweet 👇 3 Days to go ! We have a challenge for you in the tweet 👇</p></div>
            </div>
            <div class="d-flex flex-row event-view-comment-div">
              <div class="p-2"><img src="images/img-jj.jpg" alt="" class="event-view-host-img"></div>
              <div class="p-2 event-view-comment"><h5 class="event-view-comment-user">Jaisee</h5> <p>3 Days to go ! We have a challenge for you in the tweet 👇 3 Days to go ! We have a challenge for you in the tweet 👇</p></div>
            </div>
          </div>

          <a href="#" class="event-view-more-event-group-link">
            <div class="d-flex flex-row event-view-more-event-group">
              <div class="p-2 align-self-center"><img src="images/event2.jpg" alt=""></div>
              <div class="mr-auto p-2 align-self-center"><p>The Purpose of Life in Buddhism</p>See more events </div>
              <div class="p-2 align-self-center"><i class="fas fa-chevron-right"></i></div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 event-view-text-right">

          <div class="d-flex flex-row event-view-group">
            <div class="p-2 align-self-center"><img src="images/event2.jpg" alt="" class="event-view-group-img"></div>
            <div class="p-2 align-self-center">The Purpose of Life in Buddhism</div>
          </div>
          <p class="event-view-text-right-date-time"><i class="far fa-clock"></i> 4:30 AM</p>
          <p class="event-view-text-right-date-time"><i class="far fa-calendar-alt"></i> Mon, Jul 15, 2020</p>
          <p class="event-view-text-right-date-time"><i class="fas fa-map-marker-alt"></i> Patna</p>

        </div>
      </div>
    </div>
  </div>
    <section id="footer" class="event-view-footer">
      <a href="https://www.facebook.com/Letzget2gether"><i class="footer-icon fab fa-facebook-f"></i></a>
      <i class="footer-icon fab fa-twitter"></i>
      <i class="footer-icon fab fa-instagram"></i>
      <i class="footer-icon fas fa-envelope"></i>
      <p class="footer-content">© <span id="year"></span> LetZGet2Gether - All Rights Reserved <br>Terms of Service <span class="space"></span> Privacy Policy </p>
    </section>
</section>


<script type="text/javascript">
  const height = document.querySelector('#event-view-div').offsetHeight;
  document.querySelector(".event-view-footer").style.top = (400+height)+"px";
</script>

<%- include("partials/body-end"); -%>
