<%- include("partials/user-home-header"); -%>

<section id="user-home">
  <div class="fluid-container user-home-container">

    <div class="col-10 user-home-container-right">
      <section class="profile">
        <div class="general">
          <h3 class="setting-type-heading">General</h3>
          <hr>
          <div class="row">
            <div class="col-lg-8 col-md-7">
              <div class="general-left-div">
                <div class="row">
                  <div class="col-4">
                    <h6>Name:</h6>
                  </div>
                  <div class="col-8">
                    <p>jj <a href="#">edit</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>Email Address:</h6>
                  </div>
                  <div class="col-8">
                    <p>jj@gmail.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>Password:</h6>
                  </div>
                  <div class="col-8">
                    <p><a href="#">edit</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>Location:</h6>
                  </div>
                  <div class="col-8">
                    <p>Patna, India <a href="#">edit</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>Hometown:</h6>
                  </div>
                  <div class="col-8">
                    <p>Not entered <a href="#">edit</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>Birthday:</h6>
                  </div>
                  <div class="col-8">
                    <p><a href="#">Set Birthday</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>Gender:</h6>
                  </div>
                  <div class="col-8">
                    <p>jj <a href="#">Set Gender</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>About Yourself:</h6>
                  </div>
                  <div class="col-8">
                    <p><a href="#">Add</a></p>
                  </div>
                </div>
              </div>
              <hr>
              <h3 class="setting-type-heading">Member of 2 Groups</h3>
              <hr>
              <div class="profile-group-div">
                <div class="row">
                  <div class="col-6">
                    <div class="d-flex ">
                      <div class="p-1"><img src="images/img-jj.jpg" alt="" class="profile-group-img"></div>
                      <div class="p-1">Spiritual Automatic Writing And Mediumship, Mumbai, India</div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-6">
                    <div class="d-flex ">
                      <div class="p-1"><img src="images/img-jj.jpg" alt="" class="profile-group-img"></div>
                      <div class="p-1">Spiritual Automatic Writing And Mediumship, Mumbai, India</div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-6">
                    <div class="d-flex ">
                      <div class="p-1"><img src="images/img-jj.jpg" alt="" class="profile-group-img"></div>
                      <div class="p-1">Spiritual Automatic Writing And Mediumship, Mumbai, India</div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-5">
              <div class="general-right-div">
                <img src="images/img-jj.jpg" alt="profile-img" class="profile-image"><br><br>
                <a href="#" class="btn btn-dark btn-sm">Upload Image</a>
              </div>
            </div>
          </div>



        </div>
      </section>
      <div class="general">
        <h3 class="setting-type-heading">Your LetzGet2gether Account</h3>
        <hr>
        <a href="#" class="profile-deactivate-div">Deactivate Account</a>
      </div>
      <section>

      </section>
      <%- include("partials/footer"); -%>
    </div>
    <div class="col-2 sticky-sidebar">
      <a href="/setting-profile" type="button" class="user-home-left-btn user-home-left-btn-active btn btn-light btn-block">Profile</a>
      <a href="/setting-privacy" type="button" class="user-home-left-btn user-home-left-btn btn btn-light btn-block">Privacy</a>
      <a href="/setting-organizer-subscription" type="button" class="user-home-left-btn btn btn-light btn-block">Organizer Subscription</a>
      <a href="/setting-payment-methods" type="button" class="user-home-left-btn btn btn-light btn-block">Payment Methods</a>
      <a href="/setting-payment-made" type="button" class="user-home-left-btn btn btn-light btn-block">Payment Made</a>
    </div>
  </div>
</section>
