<%- include("partials/start-group-header"); -%>

<!-- <div class="progress" style="height: 2px;">
  <div class="progress-bar bg-success w-50"  role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->

<div class="container container-start-group">
  <ul class="progressbar">
    <li class="active"><i class="fas fa-user-friends"></i></li>
    <li><i class="fas fa-map-marker-alt"></i></li>
    <li><i class="fas fa-list-ul "></i></li>
    <li><i class="fas fa-info-circle "></i></li>
    <li><i class="fas fa-shopping-cart"></i></li>
  </ul>
</div>

  <div class="fluid-container container-start-group-name">
    <h1>Set your group name</h1>
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <input class="form-control form-control-lg" type="text" name="group-name" value="">
      </div>
    </form>
  </div>
