<%- include("partials/user-home-header"); -%>

<section id="user-home">
  <div class="fluid-container user-home-container">

    <div class="col-10 user-home-container-right">
      <section id="joined-group-top">
        <div class="carousel slide carousel-fade " data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 user-joined-group-carousel" src="images/joined-group-img.jpg" alt="First slide">
            </div>
          </div>
        </div>
      </section>
      <section id="">
        <div class="row joined-event-row-1">
          <div class="col-6 joined-event-col-box">
            <div class="row">
              <div class="col-5 joined-event-img-col">
                <img src="images/event3.jpg" alt="" class="joined-group-img">
              </div>
              <div class="col-7">
                <h5 class="joined-group-heading">Spiritual Automatic Writing And Mediumship, Mnumbai, India</h5>
                <i class="joined-group-icon fas fa-map-marker-alt"></i>
                <p class="joined-group-p">Patna, India</p><br>
                <i class="joined-group-icon fas fa-users"></i>
                <p class="joined-group-p">400 Members</p> <br>
                <i class="joined-group-icon fas fa-user"></i>
                <p class="joined-group-p">Hosted by Anuska Sharma</p> <br>
              </div>
            </div>
          </div>
          <div class="col-6 joined-event-col-box">
            <div class="row">
              <div class="col-5 joined-event-img-col">
                <img src="images/event3.jpg" alt="" class="joined-group-img">
              </div>
              <div class="col-7">
                <h5 class="joined-group-heading">Spiritual Automatic Writing And Mediumship, Mnumbai, India</h5>
                <i class="joined-group-icon fas fa-map-marker-alt"></i>
                <p class="joined-group-p">Patna, India</p><br>
                <i class="joined-group-icon fas fa-users"></i>
                <p class="joined-group-p">400 Members</p> <br>
                <i class="joined-group-icon fas fa-user"></i>
                <p class="joined-group-p">Hosted by Anuska Sharma</p> <br>
              </div>
            </div>
          </div>
          <div class="col-6 joined-event-col-box">
            <div class="row">
              <div class="col-5 joined-event-img-col">
                <img src="images/event3.jpg" alt="" class="joined-group-img">
              </div>
              <div class="col-7">
                <h5 class="joined-group-heading">Spiritual Automatic Writing And Mediumship</h5>
                <i class="joined-group-icon fas fa-map-marker-alt"></i>
                <p class="joined-group-p">Patna, India</p><br>
                <i class="joined-group-icon fas fa-users"></i>
                <p class="joined-group-p">400 Members</p> <br>
                <i class="joined-group-icon fas fa-user"></i>
                <p class="joined-group-p">Hosted by Anuska Sharma</p> <br>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="no-group">
        <div class="">

        </div>
      </section>
      <%- include("partials/footer"); -%>
    </div>
    <div class="col-2 sticky-sidebar">
      <a href="/user-home" type="button" class="user-home-left-btn btn btn-light btn-block">Upcoming Events</a>
      <a href="/user-categories" type="button" class="user-home-left-btn user-home-left-btn btn btn-light btn-block">Categories</a>
      <a href="/user-liked-events" type="button" class="user-home-left-btn btn btn-light btn-block">Liked Events</a>
      <a href="/user-joined-group" type="button" class="user-home-left-btn user-home-left-btn-active btn btn-light btn-block">Joined Group</a>
      <a href="/user-joined-events" type="button" class="user-home-left-btn btn btn-light btn-block">Joined Events</a>
      <a href="#" type="button" class="user-home-left-btn btn btn-light btn-block">Your Group</a>
    </div>
  </div>
</section>
